*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0 auto;
}
.container{

  background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 80px 450px;

}

.navbar{

display: flex;
justify-content: space-around;
gap: 370px;
align-items: center;
margin: 0 auto;





}

.navbar h1{

font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 47px;
color: #FFFFFF;
}

.list{

list-style: none;
display: flex;
justify-content: center;
align-items: center;
gap: 60px;

}

.list a{

text-decoration: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
color: #FFFFFF;

}

.list .button{

 padding: 10px 25px;
width: 155px;
 font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;





}

.list .btn{

  background: #023047;
  border-radius: 24px;
  color: #FFFFFF;
}

.hero-section{

  display: flex;
  gap:50px;
}

.hero-section{

  display: flex;
 justify-content: center;
 align-items: center;



  

}

.hero-section .left{

width: 50%;



}

.hero-section .right{


  width: 50%;
  position: relative;
 
}


.hero-section h1{

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 125%;
color: #FFFFFF;
width: 450px;
padding-top: 250px;



}

.hero-section p{

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 200%;
color: #FFFFFF;
width: 420px;
padding-top: 30px;
padding-bottom: 30px;

}

.button{

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
background: #DA722C;
border-radius: 24px;
border: none;
color: white;
padding: 10px 25px;





}

.right img{

width: 400px;
position: absolute;
top: 20px;
right: -120px;


}